.foto-gallery {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; /* Adjust the gap between grid items */
}

.grid-item {
    width: 100%; /* Ensure grid items take full width */
    height: 100%; /* Ensure grid items take full height */
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    overflow: hidden;
    display: block;
}

.landscape-size {
    grid-column: span 2;
}

.portrait-size {
    grid-row: span 2; /* Adjust span for portrait images */
    grid-column: span 1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
