.grid {
    height: 25vh;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
}

.col {
    display:flex;
    flex:1;
    max-width: 100%;
    position: relative;
    width: 100%;
    
}

