.grid_container{
  width: auto;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  background-color: rgb(0, 0, 25);
}

.item:nth-child(5n + 2){
  transform: translatey(10%);
}

.item:nth-child(5n + 4){
  transform: translatey(10%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5%;
}


.back-to-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
}



.slide-in-bottom {
  opacity: 0;
	-webkit-animation: slide-in-bottom 2.5s forwards;
	        animation: slide-in-bottom 2.5s forwards;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom-delayed {
  opacity: 0;
  animation: slide-in-bottom 2.5s 1s forwards;
}

@keyframes slide-in-bottom {
  0% {
      transform: translateY(1000px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-in-top {
  opacity: 0;
  animation: slide-in-top 2.5s 0.5s forwards;
}

@keyframes slide-in-top {
  0% {
      transform: translateY(-1000px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-in-top_delayed {
  opacity: 0;
  animation: slide-in-top 2.5s 1s forwards;
}

@keyframes slide-in-top {
  0% {
      transform: translateY(-1000px);
      opacity: 0;
  }
  100% {
      transform: translateY(-10px);
      opacity: 1;
  }
}

.scale-in-center {
	-webkit-animation: scale-in-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s alternate both;
	        animation: scale-in-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s alternate both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5.5);
            transform: scale(5.5);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5.5);
            transform: scale(5.5);
    opacity: 1;
  }
}