.landing_page_main_container{
  background-color: rgb(16, 15, 15);
  max-width: 100%;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.landing_page_navbar{
  max-width: 100%;
  border-bottom: 1px solid rgb(253, 229, 175);
}

.landing_page_navbar_links{
  max-width: 100%;
}

.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 10vh;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5); 
}

.nav_item{
  color: rgb(253, 229, 175);
  text-decoration: none;
  max-width: 25%;
  font-size: 3rem;
  font-weight: 300;
  cursor: pointer;
}

.nav_item_container{
  max-width: 25%;
  overflow: hidden;
}



.nav_item_small{
  color: rgb(253, 229, 175);
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

}

.dropdown_menu{
  background-color: rgb(16, 15, 15);
  position: absolute;
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8vh;
  z-index: 1;
}

.landing_page_überschrift{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid rgb(253, 229, 175);
  border-bottom: 1px solid rgb(253, 229, 175);
}

.überschrift{
  color: rgb(253, 229, 175);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}